.side_bar
  .side_bar__user_name
    .side_bar__user_name__top_item
      %p.side_bar__user_name__top_item__name
        samurai2
      %ul.side_bar__user_name__top_item__icon 
        %li
          =link_to "#",class:"side_bar__user_name__top_item__icon--btn" do
            =icon('fas','edit',)
        %li    
          =link_to "#",class:"side_bar__user_name__top_item__icon--btn" do
            =icon('fas','cog',)
          
            

    
  .side_bar__group
    %p.side_bar__group__name
      新鮮組
    %p.side_bar__group__message
      獅子孫々  

